.benefits {
  background-color: var(--gray-color);

  &__title {
    margin: 0;
    margin-bottom: 60px;

    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;

    @include high-tablet {
      gap: 20px;
    }

    @include mobile {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    grid-column: 4 span;

    @include tablet {
      grid-column: 6 span;
    }

    @include mobile {
      grid-column: 4 span;
      text-align: center;
    }
  }

  &__subtitle {
    display: inline-flex;
    align-items: center;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: var(--dark-color);

    &--tooltip {
      @include mobile {
        position: relative;

        .tooltip {
          position: absolute;
          right: -30px;
          top: 0;

          &__txt {
            min-width: 260px;
          }
        }
      }
    }
  }

  &__descr {
    margin: 0;
  }
}
