.social {
  @include flex-v-center;

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    @include flex-all-center;

    display: inline-flex;
    border-radius: 100%;
    width: 30px;
    height: 30px;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: var(--dark-color);
      object-fit: cover;
    }
  }
}
