<header class="header">
  <div class="container-fluid header__container">
    <a href="#" class="logo">
      <img loading="lazy" src="img/logo.svg" alt="Логотип" width="228" height="48">
    </a>
    <nav class="nav" title="Главное меню" data-menu>
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#about" class="nav__link" data-scroll data-menu-item>О школе</a></li>
        <li class="nav__item"><a href="#trainers" class="nav__link" data-scroll data-menu-item>Тренеры</a></li>
        <li class="nav__item"><a href="#price" class="nav__link" data-scroll data-menu-item>Стоимость</a></li>
      </ul>
      <button class="btn-reset burger-close" aria-label="Закрыть меню" data-menu-close></button>
    </nav>
    <a href="tel:+79000000000" class="phone header__phone"><span>+ 7 (900) 000 00 00</span></a>
    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
