<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        Robo School
        <span class="hero__title-text">Курсы повышения квалификации по робототехнике для педагогов начальной школы</span>
      </h1>
      <a href="#price" class="btn-reset btn hero__link" data-scroll>Записаться на курс</a>
    </div>
    <div class="hero__image">
      <picture>
        <source srcset="img/hero-img.avif" type="image/avif">
        <source srcset="img/hero-img.webp" type="image/webp">
        <img loading="lazy" src="img/hero-img.png" class="image" width="663" height="817" alt="Девушка">
      </picture>
    </div>
  </div>
</section>
