<div class="graph-modal">
  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="trainer-1">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно">Закрыть</button>
    <div class="graph-modal__content">
      <div class="popup__top">
        <div class="popup__image">
          <picture>
            <source srcset="img/trainer-1.avif" type="image/avif">
            <source srcset="img/trainer-1.webp" type="image/webp">
            <img loading="lazy" src="img/trainer-1.jpg" class="image" width="160" height="222" alt="Ирина Лайм">
          </picture>
        </div>
        <div class="popup__text">
          <div class="popup__name">Ирина Лайм</div>
          <div class="popup__post">преподаватель по робототехнике</div>
          <ul class="list-reset social">
            <li class="social__item">
              <a href="#" target="blanck" class="social__link">
                <svg>
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="blanck" class="social__link">
                <svg>
                  <use xlink:href="img/sprite.svg#inst"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="popup__bottom">
        <div class="tabs" data-tabs="popup-1">
          <ul class="list-reset tabs__nav">
            <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Образование</button></li>
            <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Опыт работы</button></li>
            <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Награды</button></li>
          </ul>
          <div class="tabs__content">
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__descr">
                  <p class="popup__text">Сентябрь 1995 — Июнь 2000</p>
                  <p class="popup__text">Санкт-Петербургский политехнический университет Петра Великого</p>
                  <p class="popup__text">Факультет: Компьютерных наук и технологий</p>
                  <p class="popup__text">Специальность: Математика и компьютерные науки</p>
                  <p class="popup__text">Форма обучения: Очная</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Курсы и тренинги</h3>
                  <ul class="list-reset popup__list">
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__descr">
                  <p class="popup__text">Сентябрь 1995 — Июнь 2000</p>
                  <p class="popup__text">Санкт-Петербургский политехнический университет Петра Великого</p>
                  <p class="popup__text">Факультет: Компьютерных наук и технологий</p>
                  <p class="popup__text">Специальность: Математика и компьютерные науки</p>
                  <p class="popup__text">Форма обучения: Очная</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Опыт работы</h3>
                  <ul class="list-reset popup__list">
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Курсы и тренинги</h3>
                  <ul class="list-reset popup__list">
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="trainer-2">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно">Закрыть</button>
    <div class="graph-modal__content">
      <div class="popup__top">
        <div class="popup__image">
          <picture>
            <source srcset="img/popup-2.avif" type="image/avif">
            <source srcset="img/popup-2.webp" type="image/webp">
            <img loading="lazy" src="img/popup-2.jpg" class="image" width="160" height="222" alt="Марина Орлова">
          </picture>
        </div>
        <div class="popup__text">
          <div class="popup__name">Марина Орлова</div>
          <div class="popup__post">преподаватель по робототехнике</div>
          <ul class="list-reset social">
            <li class="social__item">
              <a href="#" target="blanck" class="social__link">
                <svg>
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="blanck" class="social__link">
                <svg>
                  <use xlink:href="img/sprite.svg#inst"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="popup__bottom">
        <div class="tabs" data-tabs="popup-2">
          <ul class="list-reset tabs__nav">
            <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Образование</button></li>
            <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Опыт работы</button></li>
            <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Награды</button></li>
          </ul>
          <div class="tabs__content">
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__descr">
                  <p class="popup__text">Сентябрь 1995 — Июнь 2000</p>
                  <p class="popup__text">Санкт-Петербургский политехнический университет Петра Великого</p>
                  <p class="popup__text">Факультет: Компьютерных наук и технологий</p>
                  <p class="popup__text">Специальность: Математика и компьютерные науки</p>
                  <p class="popup__text">Форма обучения: Очная</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Курсы и тренинги</h3>
                  <ul class="list-reset popup__list">
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__descr">
                  <p class="popup__text">Сентябрь 1995 — Июнь 2000</p>
                  <p class="popup__text">Санкт-Петербургский политехнический университет Петра Великого</p>
                  <p class="popup__text">Факультет: Компьютерных наук и технологий</p>
                  <p class="popup__text">Специальность: Математика и компьютерные науки</p>
                  <p class="popup__text">Форма обучения: Очная</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Опыт работы</h3>
                  <ul class="list-reset popup__list">
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Курсы и тренинги</h3>
                  <ul class="list-reset popup__list">
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="trainer-3">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно">Закрыть</button>
    <div class="graph-modal__content">
      <div class="popup__top">
        <div class="popup__image">
          <picture>
            <source srcset="img/trainer-3.avif" type="image/avif">
            <source srcset="img/trainer-3.webp" type="image/webp">
            <img loading="lazy" src="img/trainer-3.jpg" class="image" width="160" height="222" alt="Максим Петров">
          </picture>
        </div>
        <div class="popup__text">
          <div class="popup__name">Максим Петров</div>
          <div class="popup__post">преподаватель по программированию</div>
          <ul class="list-reset social">
            <li class="social__item">
              <a href="#" target="blanck" class="social__link">
                <svg>
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="blanck" class="social__link">
                <svg>
                  <use xlink:href="img/sprite.svg#inst"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="popup__bottom">
        <div class="tabs" data-tabs="popup-3">
          <ul class="list-reset tabs__nav">
            <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Образование</button></li>
            <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Опыт работы</button></li>
            <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Награды</button></li>
          </ul>
          <div class="tabs__content">
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__descr">
                  <p class="popup__text">Сентябрь 1995 — Июнь 2000</p>
                  <p class="popup__text">Санкт-Петербургский политехнический университет Петра Великого</p>
                  <p class="popup__text">Факультет: Компьютерных наук и технологий</p>
                  <p class="popup__text">Специальность: Математика и компьютерные науки</p>
                  <p class="popup__text">Форма обучения: Очная</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Курсы и тренинги</h3>
                  <ul class="list-reset popup__list">
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__descr">
                  <p class="popup__text">Сентябрь 1995 — Июнь 2000</p>
                  <p class="popup__text">Санкт-Петербургский политехнический университет Петра Великого</p>
                  <p class="popup__text">Факультет: Компьютерных наук и технологий</p>
                  <p class="popup__text">Специальность: Математика и компьютерные науки</p>
                  <p class="popup__text">Форма обучения: Очная</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Опыт работы</h3>
                  <ul class="list-reset popup__list">
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Курсы и тренинги</h3>
                  <ul class="list-reset popup__list">
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="trainer-4">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно">Закрыть</button>
    <div class="graph-modal__content">
      <div class="popup__top">
        <div class="popup__image">
          <picture>
            <source srcset="img/trainer-4.avif" type="image/avif">
            <source srcset="img/trainer-4.webp" type="image/webp">
            <img loading="lazy" src="img/trainer-4.jpg" class="image" width="160" height="222" alt="Константин Назаров">
          </picture>
        </div>
        <div class="popup__text">
          <div class="popup__name">Константин Назаров</div>
          <div class="popup__post">преподаватель по робототехнике</div>
          <ul class="list-reset social">
            <li class="social__item">
              <a href="#" target="blanck" class="social__link">
                <svg>
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="blanck" class="social__link">
                <svg>
                  <use xlink:href="img/sprite.svg#inst"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="popup__bottom">
        <div class="tabs" data-tabs="popup-4">
          <ul class="list-reset tabs__nav">
            <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Образование</button></li>
            <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Опыт работы</button></li>
            <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Награды</button></li>
          </ul>
          <div class="tabs__content">
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__descr">
                  <p class="popup__text">Сентябрь 1995 — Июнь 2000</p>
                  <p class="popup__text">Санкт-Петербургский политехнический университет Петра Великого</p>
                  <p class="popup__text">Факультет: Компьютерных наук и технологий</p>
                  <p class="popup__text">Специальность: Математика и компьютерные науки</p>
                  <p class="popup__text">Форма обучения: Очная</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Курсы и тренинги</h3>
                  <ul class="list-reset popup__list">
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__descr">
                  <p class="popup__text">Сентябрь 1995 — Июнь 2000</p>
                  <p class="popup__text">Санкт-Петербургский политехнический университет Петра Великого</p>
                  <p class="popup__text">Факультет: Компьютерных наук и технологий</p>
                  <p class="popup__text">Специальность: Математика и компьютерные науки</p>
                  <p class="popup__text">Форма обучения: Очная</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Опыт работы</h3>
                  <ul class="list-reset popup__list">
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Курсы и тренинги</h3>
                  <ul class="list-reset popup__list">
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="trainer-5">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно">Закрыть</button>
    <div class="graph-modal__content">
      <div class="popup__top">
        <div class="popup__image">
          <picture>
            <source srcset="img/trainer-5.avif" type="image/avif">
            <source srcset="img/trainer-5.webp" type="image/webp">
            <img loading="lazy" src="img/trainer-5.jpg" class="image" width="160" height="222" alt="Лиза Весенняя">
          </picture>
        </div>
        <div class="popup__text">
          <div class="popup__name">Лиза Весенняя</div>
          <div class="popup__post">преподаватель по программированию</div>
          <ul class="list-reset social">
            <li class="social__item">
              <a href="#" target="blanck" class="social__link">
                <svg>
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="blanck" class="social__link">
                <svg>
                  <use xlink:href="img/sprite.svg#inst"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="popup__bottom">
        <div class="tabs" data-tabs="popup-5">
          <ul class="list-reset tabs__nav">
            <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Образование</button></li>
            <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Опыт работы</button></li>
            <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Награды</button></li>
          </ul>
          <div class="tabs__content">
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__descr">
                  <p class="popup__text">Сентябрь 1995 — Июнь 2000</p>
                  <p class="popup__text">Санкт-Петербургский политехнический университет Петра Великого</p>
                  <p class="popup__text">Факультет: Компьютерных наук и технологий</p>
                  <p class="popup__text">Специальность: Математика и компьютерные науки</p>
                  <p class="popup__text">Форма обучения: Очная</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Курсы и тренинги</h3>
                  <ul class="list-reset popup__list">
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__descr">
                  <p class="popup__text">Сентябрь 1995 — Июнь 2000</p>
                  <p class="popup__text">Санкт-Петербургский политехнический университет Петра Великого</p>
                  <p class="popup__text">Факультет: Компьютерных наук и технологий</p>
                  <p class="popup__text">Специальность: Математика и компьютерные науки</p>
                  <p class="popup__text">Форма обучения: Очная</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Опыт работы</h3>
                  <ul class="list-reset popup__list">
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Курсы и тренинги</h3>
                  <ul class="list-reset popup__list">
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                    <li class="popup__item">
                      <p class="popup__text">Ноябрь 2020 — Февраль 2021</p>
                      <p class="popup__text">Программа дополнительного образования «3D Моделирование»</p>
                      <p class="popup__text">Место проведения: Институт дополнительного образования «Политех»</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
